@import "tailwindcss";
@plugin "flowbite/plugin";

@theme {
    --color-brand-dark: #1E1E1E;
    --color-brand-light: #C1E2BE;
    --color-brand-surface: #2D2D2D;
    --color-brand-primary: #2E7D32;
    --color-brand-highlight: #81C784;
}

html {
    scroll-padding-top: 4rem;
}